ul {
  list-style: none;
}

.float {
    display: flex;
  }  

.skill{
  float: none;
  padding: 20px;
  background-color: rebeccapurple;
  border: 1px solid royalblue;
  border-radius: 20px;
  color: #fff;
  margin: 20px;
}

#s1 {
  float: left;
}

#s2 {
    float: none;
  }

  #s3 {
    float: right;
  }