* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 16px 16px;
  background-color: #f7f7f9;
}

.background-img {
  background-image: url(./img/mobile-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.05px;
  padding: 16px 16px;
  margin-bottom: 88px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: none;
  padding: 10px 10px;
}

.log {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.header-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border: none;
  background: none;
}

.header-button .bar {
  height: 3px;
  width: 100%;
  list-style: none;
  border-radius: 10px;
  background-color: rgb(89, 89, 230);
  color: rgb(89, 89, 230);
}

.main {
  color: #555;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  padding-bottom: 10px;
  display: flex;
}

.main-description {
  display: flex;
  font-family: 'poppins', sans-serif;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  padding-top: 96px;
}

.description {
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.text {
  text-transform: uppercase;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.button-bott {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 10px;
}
